:root {
  font-size: 15px;
  box-sizing: inherit;
  --fields-bg-color: rgba(255, 255, 255, 0.45);
  --header-height: 4rem;
  --fill-color-red: hsla(0, 90%, 41%, 0.902);
  --fill-color-blue: hsla(215, 91%, 39%, 0.902);
  --fill-color-green: hsla(117, 97%, 29%, 0.902);
  --fill-color-black: hsla(0, 6%, 7%, 0.702);
  --fill-color-orange: rgba(229, 163, 39, 0.7);
  --small-gap: 0.3rem;
  --medium-gap: 0.5rem;
  --big-gap: 1rem;
  --small-padding: 1rem;
  --medium-padding: 2rem;
  --min-width: 21rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p {
  margin: 0;
}

p:not(:last-child) {
  margin-bottom: 0.5em;
}

body {
  font: 1em/1.618 Inter, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  color: #224;
  background: url(https://source.unsplash.com/E8Ufcyxz514/2400x1823) center / cover no-repeat fixed;
}

div#root {
  width: 100%;
  width: -webkit-fill-available;
  position: fixed;
  top: 0;
}

main {
  height: calc(100dvh - 1.5 * var(--header-height));
  overflow: auto;
  margin-block-start: var(--header-height);
  padding: var(--medium-padding);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

::-webkit-scrollbar {
  width: 3dvw;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0deg 0% 100% / 50%);
  border-radius: var(--big-gap);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0deg 0% 100% / 90%);
}

::-webkit-scrollbar-track {
  background-color: hsl(240deg 12% 23% / 25%);
}

.card {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: var(--fields-bg-color);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  margin-bottom: var(--small-padding);
}

.tarefa-card {
  width: 90dvw;
  flex-direction: column;
  padding: var(--medium-gap);
}

.tarefa-card .tarefa-card-titulo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tarefa-card .tarefa-card-titulo h2 {
  margin: 0;
  padding-block: var(--medium-gap);
  padding-left: var(--small-gap);
  font-size: 1.2rem;
}

.tarefa-card:not(.tarefa-detailed-card) .tarefa-card-titulo h2:hover {
  cursor: pointer;
  text-decoration: underline;
}

.circle,
.tarefa-card-titulo-checkbox {
  background-color: rgb(255, 152, 0);
  border-radius: 50%;
  display: grid;
  place-content: center;
  height: 1.5rem;
  width: 1.5rem;
  min-width: 1.5rem;
}

.tarefa-card-titulo-checkbox {
  appearance: none;
  cursor: pointer;
}

input[type="checkbox"].tarefa-card-titulo-checkbox::before {
  content: "";
  width: var(--medium-gap);
  height: var(--medium-gap);
  border-radius: 50%;
  background-color: #3f353596;
  border: 1px solid #0000003d;
  transform: scale(0);
  transition: transform 200ms ease-out;
}

input[type="checkbox"].tarefa-card-titulo-checkbox:checked::before {
  transform: scale(1);
}

div:has(> .circle),
.tarefa-card .tarefa-card-titulo > div:has(> .tarefa-card-titulo-checkbox),
.tarefa-card .tarefa-card-titulo > div:has(> .tarefa-card-button) {
  display: flex;
  align-items: center;
  gap: var(--medium-gap);
}

.tarefa-card-button {
  width: 1.5rem;
  height: 1.5rem;
  padding: var(--medium-gap);
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  /* top: 0;
  left: 0.1em; */
  transition: 200ms ease-in-out;
}

.tarefa-card-button[aria-disabled] {
  cursor: default;
}

.tarefa-card-button:not([aria-disabled]):active,
.tarefa-card-button:not([aria-disabled]):hover {
  box-shadow: 0 0em 0em 1px hsl(223deg 10% 55% / 60%) inset;
  opacity: 1;
  transform: scale(1.2);
  background-color: #f5f5f563;
}

.tarefa-card-button:not([aria-disabled]):hover {
  outline: transparent;
}

.tarefa-card-button {
  box-sizing: content-box;
}

.tarefa-card-button > svg > path {
  fill: rgba(0, 0, 0, 0.75);
}

.tarefa-card-button:not([aria-disabled]):hover > svg > path.cancel {
  fill: var(--fill-color-red);
}

.tarefa-card-button:not([aria-disabled]):hover > svg > path.timesheet {
  fill: var(--fill-color-blue);
}

.tarefa-card-button:not([aria-disabled]):hover > svg > path.conclude {
  fill: var(--fill-color-green);
}

.tarefa-card-button:not([aria-disabled]):hover > svg > path.filter {
  fill: var(--fill-color-green);
}

.tarefa-card-button:not([aria-disabled]):hover > svg > path.save {
  fill: var(--fill-color-blue);
}

.tarefa-card-button:not([aria-disabled]):hover > svg > path.delete {
  fill: var(--fill-color-red);
}

.tarefa-card processo-info {
  font-size: 0.9rem;
}

.tarefa-card-footer {
  font-size: 0.8rem;
  color: #446;
  align-self: flex-end;
  text-align: end;
}

.prazo {
  font-size: 0.9rem;
  color: whitesmoke;
  border-radius: 0.3rem;
  padding-inline: var(--medium-gap);
  align-self: center;
}

/* .lost {
  background-color: var(--fill-color-black);
}

.danger {
  background-color: var(--fill-color-red);
}

.warning {
  background-color: var(--fill-color-orange);
}

.done {
  background-color: var(--fill-color-blue);
} */

/* .normal {
  background-color: var(--fill-color-green);
} */

.tarefa-detailed-card {
  position: absolute;
  top: calc(var(--header-height) + var(--small-gap));
  left: 50dvw;
  translate: -50%;
  width: 85dvw;
  max-height: calc(100dvh - var(--header-height) - 4rem);
  padding: var(--medium-padding) var(--big-gap);
  flex-direction: column;
  overflow-y: auto;
}

.tarefa-detailed-card > *:not(button) {
  min-width: var(--min-width);
  box-sizing: border-box;
}

div.prazos-card {
  display: flex;
  justify-content: space-around;
  gap: var(--medium-gap);
  margin-bottom: var(--small-padding);
  padding: var(--small-padding);
  padding-top: var(--medium-gap);
  border-inline: var(--medium-gap) solid;
}

.prazos-card > div {
  max-width: 33%;
  min-width: 6rem;
}

.prazos-card .sisifo-label,
.text-center input {
  text-align: center;
}

.date-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--big-gap);
}

.date-row > div:first-child {
  width: 20%;
  min-width: 101px;
}

.date-row > div:last-child {
  width: -webkit-fill-available;
}

.tarefa-detailed-card .processo-info,
.tarefa-detailed-card textarea,
.prazos-card,
div.select-control,
.datepicker-input {
  background-color: var(--fields-bg-color);
  border: 0.5px solid rgba(9, 8, 8, 0.3);
  border-radius: var(--medium-gap);
  box-shadow: none;
}

.select-control {
  min-width: 30dvw;
}

div.select-control,
.datepicker-input {
  padding: 0.3rem;
}

.datepicker-wrapper,
.datepicker-input {
  line-height: var(--medium-padding);
  width: -webkit-fill-available;
}

.datepicker-wrapper > .react-datepicker__input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tarefa-detailed-card textarea:focus,
.tarefa-detailed-card textarea:hover,
div.select-control:has(:focus),
div.select-control:hover,
.datepicker-input:focus,
.datepicker-input:hover {
  outline: none;
  border: 1px solid rgb(3, 140, 23, 0.62);
}

.tarefa-detailed-card .processo-info,
.tarefa-detailed-card textarea {
  padding: var(--small-padding);
  resize: vertical;
  width: -webkit-fill-available;
  font: var(--big-gap) Inter, sans-serif;
}

.tarefa-detailed-card textarea {
  height: 5rem;
}

.sisifo-label {
  display: block;
  padding-inline-end: 0.2rem;
  font-size: 0.9rem;
  text-align: end;
  user-select: none;
}

.close-btn {
  position: fixed;
  height: 1.5rem;
  aspect-ratio: 1;
  line-height: 1.7rem;
  top: 0rem;
  right: var(--small-padding);
  font-size: 2rem;
  text-align: center;
  transform: rotate(45deg);
  user-select: none;
  opacity: 0.5;
  margin-top: var(--medium-gap);
  transition: 200ms ease-in;
}

.close-btn:hover {
  opacity: 1;
  color: whitesmoke;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.5);
  cursor: pointer;
}

.save-btn {
  width: fit-content;
  align-self: center;
  padding: var(--small-padding);
  margin-block-start: var(--small-padding);
  border-radius: var(--medium-gap);
  background: rgb(23, 96, 0);
  background: linear-gradient(
    135deg,
    hsl(106deg 100% 24% / 70%) 0%,
    rgb(9 121 20 / 30%) 50%,
    hsl(159 100% 44% / 1) 100%
  );
  color: #551c00;
  border: 1px solid #0fc10b;
  transition: 200ms ease-in;
}

.save-btn:hover {
  box-shadow: inset 0px 0px 9px 1px #00800057;
}

.filter-header,
.filter-body {
  width: -webkit-fill-available;
  --filter-hsl-background-color: hsl(129, 35%, 74%);
}

.filter-header {
  z-index: 10;
  position: fixed;
  height: var(--header-height);
  padding-inline: var(--small-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--filter-hsl-background-color);
  opacity: 0.85;
}

.header-filter-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header-filter-container > .tarefa-card-button:nth-child(2) {
  margin-inline-start: var(--medium-gap);
}

.filter-body {
  position: absolute;
  z-index: 5;
  background-color: var(--filter-hsl-background-color);
  margin-block-start: var(--header-height);
  padding: var(--small-padding);
  opacity: 1;
  box-shadow: 0px 6px 20px 0px #589750;
}

.filter-body > div:not(:last-child) {
  padding-block-end: var(--medium-gap);
}

.floating-command-bar {
  position: absolute;
  top: var(--header-height);
  left: var(--big-gap);
  z-index: 10;
}

.notifications {
  position: fixed;
  bottom: 0;
  margin: auto;
  list-style: none;
  padding: 0;
}

.notifications .msg-progress,
.notifications .msg-success,
.notifications .msg-error {
  line-height: 1.5rem;
  padding-inline-start: var(--small-padding);
  padding-inline-end: var(--medium-padding);
}

.notifications .msg-progress:first-of-type,
.notifications .msg-success:first-of-type,
.notifications .msg-error:first-of-type {
  padding-block-start: var(--small-padding);
}

.notifications .msg-progress:last-of-type,
.notifications .msg-success:last-of-type,
.notifications .msg-error:last-of-type {
  padding-block-end: var(--small-padding);
}

.notifications .msg-progress:not(first-of-type):not(last-of-type),
.notifications .msg-success:not(first-of-type):not(last-of-type),
.notifications .msg-error:not(first-of-type):not(last-of-type) {
  padding-block-end: var(--small-padding);
}

.notifications .msg-progress {
  background-color: #fffc98;
}

.notifications .msg-success {
  background-color: #8ce181;
}

.notifications .msg-error {
  background-color: #f9afaf;
}

.msg-progress .close-btn,
.msg-success .close-btn,
.msg-error .close-btn {
  display: inline-block;
  position: relative;
  top: 2px;
  right: -15px;
  height: 1.2rem;
  line-height: 1.3rem;
  font-size: 1.3rem;
  margin-top: unset;
}

.fadeout {
  opacity: 0;
  transition: opacity linear 2500ms;
}

.skeleton {
  opacity: 0.5;
  animation: skeleton 1s linear infinite alternate;
}

.skeleton-buttons-area {
  height: var(--big-gap);
  width: 9rem;
  border-radius: 1.5rem;
}

.skeleton-circle {
  height: var(--big-gap);
  width: var(--big-gap);
  border-radius: 50%;
}

div:has(> div.skeleton-header) {
  display: flex;
  width: -webkit-fill-available;
  align-items: center;
  gap: var(--small-padding);
}

.skeleton-header {
  height: 1.5rem;
  width: 70%;
  border-radius: 2px;
}

footer.skeleton-text {
  width: 60%;
  align-self: flex-end;
}

:has(> .skeleton-text) {
  margin-block: var(--small-padding);
}

.skeleton-text {
  height: var(--big-gap);
  width: 100%;
  margin-block: 0.5rem;
  border-radius: 2px;
}

.skeleton-text:last-child {
  width: 75%;
}

@keyframes skeleton {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

@keyframes drop-filter {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes pickup-filter {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
